@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Permanent+Marker&display=swap');
body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', Arial, Helvetica, sans-serif;
}
.back-to-top a{
    color: #ca1013;
    position: fixed;
    bottom: 150px;
    z-index: 999;
    right: 10px;
    padding: 10px;
}
div .slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
  }
  
  .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: slide 10s infinite;
  }
  
/* Background Slideshow Animation */
@keyframes slide {
    0%, 15%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    95% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
   }
   .slider .slide:nth-child(1) {
    background-image: url("images/scott-webb-102825.jpg");
    animation-delay: 0;
  }
  
  .slider .slide:nth-child(2) {
    background-image: url("images/library-1132573_1920.jpg");
    animation-delay: -2s;
  }
  
  .slider .slide:nth-child(3) {
    background-image: url("images/exhibition-1863344_1920.jpg");
    animation-delay: -4s;
  }
  
  .slider .slide:nth-child(4) {
    background-image: url("images/learn-2405206_1920.jpg");
    animation-delay: -6s;
  }
  
  .slider .slide:nth-child(5) {
    background-image: url("images/lab-512503_1920.jpg");
    animation-delay: -8s;
  } 
  a {
    color: white;
  }
/* Header section */
header {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-right: 0px;
}
header .logo img {
    width: 250px;
    padding: 0px;
    background-color: transparent;
}
/* Sidebar section */
:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #3431319e;
    --background: rgb(7, 7, 7);
    --hamburger-margin: 10px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    background-color: #ca1013;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: 20vw;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    height: 60px;
  }
  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid ;
    box-shadow: 0 0 0 1px ;
    
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: 60px;
    height: 7px;
    background-color: white;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 3rem;
    background-color: var(--foreground);
    color: var(--background);
    max-width: 200px;
    min-height: 100vh;
    display: none;
  }
  .sidebar li a {
    font-size: 2vw;
  }
  .sidebar li {
    list-style-type: none;
    padding: 10px;
  }
  .sidebar a:hover {
    background-color: #ca1013;
    font-weight: bold;
  }
  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    display: flex;
  }

   /* Title section */
   section {
    padding: 100px 100px;
   }
  .heading {
    background-color: green;
    display: flex;
    position: relative;
    justify-content: center;
    padding: 50px;
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }
  h1 {
    color: white;
    font-weight: bold;
    font-size: 5vw;
    text-transform: uppercase;
  }
  h2 {
    color: #ca1013;
    font-size: 2.5vw;
  }
  p {
    color: rgb(47, 44, 44);
    font-size: 1.5vw;
    line-height: 1.2;
  }
  .content {
    padding: 30px 100px;
  }
  /* Content section */
  .visit {
   background-color: #ca1013;
   margin-top: 40px;
  }
  .first {
    color: green;
    font-style: italic;
  }
  .second {
    color: #ca1013;
    font-style: italic;
  }
  span {
    color: green;
    text-decoration: underline;
  }
  .text img {
    width: 400px;
    height: 300px;
  }

 /* Footer section */
footer {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0;
    padding: 0;
}
footer .row-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer h3 {
    font-size: 11px;
    font-weight: lighter;
}
footer h2 {
    font-size: 13px;
    color: white;
}
footer .row-footer ul {
    display: block;
    position: relative;
    color: white;
}
footer img {
    width: 110px;
}