@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Permanent+Marker&display=swap');
body { 
    scroll-behavior: smooth; 
    height: auto;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Lilita One', sans-serif;
    background-color: #f9f4f4;
    overflow-x: hidden;   
}
/* Scroll to top button */
.back-to-top a{
    color: #ca1013;
    position: fixed;
    bottom: 150px;
    z-index: 999;
    right: 10px;
    padding: 10px;
}

/* Header / Navigation section */
header {
    display: flex;
    position: relative;
    justify-content: space-between;
}
header .logo img {
    width: 20vw;
    padding: 0px;
    background-color: transparent;
}
/* Sidebar section */
:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #0c0b0bf3;
    --background: rgb(7, 7, 7);
    --hamburger-margin: 10px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    position: relative;
    background-color: #ca1013;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: 200px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    height: 70px;
    
  }
  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid;
    box-shadow: 0 0 0 1px ;
    
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: 60px;
    height: 7px;
    background-color: white;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    background-color: var(--foreground);
    color: var(--background);
    max-width: 150px;
    min-height: 50vh;
    display: none;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
  }
  .sidebar li a {
    font-size: 1.7vw;
    color: white;
    text-decoration: none;
  }
  .sidebar li {
    list-style-type: none;
    padding: 10px;
  }
  .sidebar a:hover {
    background-color: #ca1013;
    font-weight: bold;
  }
  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    display: flex;
  }

  /* Main content section */
  main {
    display: block;
    color: rgb(47, 44, 44);
    font-family: 'Open Sans', sans-serif;
    padding: 30px 170px;
  }
  h1 {
    font-size: 2.2vw;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5vw;
  }
  p {
    font-size: 1vw;
  }
  .heading {
    line-height: 0.2;  
  }
  .heading p {
    font-style: italic;
  }
 section {
    padding: 3px 0;
 }
 .list {
    font-size: 1vw;
 }
 .text span {
    color: #ca1013;
    font-style: italic;
    font-weight: bold;
 }

   /* Footer section */
footer {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
}
footer .row-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer h3 {
  font-size: 11px;
  font-weight: lighter;
}
footer h2 {
  font-size: 13px;
  color: white;
}
footer .row-footer ul {
  display: block;
  position: relative;
}
footer img {
  width: 110px;
}