@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Permanent+Marker&display=swap');
body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', Arial, Helvetica, sans-serif;
}
.back-to-top a{
    color: #ca1013;
    position: fixed;
    bottom: 150px;
    z-index: 999;
    right: 10px;
    padding: 10px;
}
div .slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
  }
  
  .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: slide 10s infinite;
  }
  
/* Background Slideshow Animation */
@keyframes slide {
    0%, 15%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    95% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
   }
   .slider .slide:nth-child(1) {
    background-image: url("images/scott-webb-102825.jpg");
    animation-delay: 0;
  }
  
  .slider .slide:nth-child(2) {
    background-image: url("images/toa-heftiba-412579.jpg");
    animation-delay: -2s;
  }
  
  .slider .slide:nth-child(3) {
    background-image: url("images/genoa-956405_1920.jpg");
    animation-delay: -4s;
  }
  
  .slider .slide:nth-child(4) {
    background-image: url("images/learn-2405206_1920.jpg");
    animation-delay: -6s;
  }
  
  .slider .slide:nth-child(5) {
    background-image: url("images/scientific-2040795_1280.jpg");
    animation-delay: -8s;
  } 
  a {
    color: white;
  }
/* Header/Nav section */
header {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-right: 0px;
}
header .logo img {
    width: 250px;
    padding: 0px;
    background-color: transparent;
}
/* Sidebar section */
:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #3431319e;
    --background: rgb(7, 7, 7);
    --hamburger-margin: 10px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    background-color: #ca1013;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    height: 60px;
  }
  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid ;
    box-shadow: 0 0 0 1px ;
    
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: 60px;
    height: 7px;
    background-color: white;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 3rem;
    background-color: var(--foreground);
    color: var(--background);
    max-width: 200px;
    min-height: 100vh;
    display: none;
  }
  .sidebar li a {
    font-size: 2vw;
  }
  .sidebar li {
    list-style-type: none;
    padding: 10px;
  }
  .sidebar a:hover {
    background-color: #ca1013;
    font-weight: bold;
  }
  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    display: flex;
  }
/* Slide Title section */

section .title {
    display: inline;
    position: absolute;
    width: 500px;
    margin-left: 50px;
    padding-top: 50px;
}
.title h1 {
    font-size: 5vw;
    color: green;
}
.title h1 span {
    color: #ca1013;
    font-size: 8vw;
    font-weight: bold;
    text-transform: uppercase;
}
section .right-title {
    display: block;
    position: relative;
    width: 400px;
    height: auto;
    float: right;
    margin-top: 170px;
    margin-right: 150px;
}
.right-title a {
    text-decoration: underline;
    font-size: 2vw;
    
}
.right-title a:hover {
    background-color: #ca1013;
    font-weight: bold;
}
.right-title li {
    list-style-type: none;
    padding: 10px;
}
section {
   flex-grow: 1;
}

/* Main content */
main {
    display: block;
    position: relative;
    margin-top: 440px;
    background-color: #f9f4f4;
    color: rgb(79, 66, 66);
    align-items: center;
    justify-content: center;
    padding: 50px;
    
}
.main-title {
    display: flex;
    color: green;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main-title h1 {
    font-size: 5vw; 
    text-transform: uppercase;  
}
.main-text {
    display: block;
}
.main-text p {
    text-align: justify;
    font-size: 2vw;
    font-weight: lighter;
}
.main-text .nan {
    color: green;
}
span {
    color: #ca1013;
    font-weight: bold;
    font-style: italic;
}
main img {
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
}

main a {
    font-weight: bold;
}
.explore {
    color: white;
    background-color: green;
    margin: 50px 0;
    padding: 50px 700px;
}
.learn-more a {
    font-size: 2vw;
    text-decoration: none;
    font-family: 'Lilita One', Arial, Helvetica, sans-serif;
}
.button {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.learn-more {
    border-radius: 20px;
    background-color: #ca1013;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vw;
    padding: 20px;
    width: 20vw;
    transition: all 0.5s;
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .learn-more span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #ffffff;
  }
  
  .learn-more span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .learn-more:hover span {
    padding-right: 25px;
  }
  
  .learn-more:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Create two equal columns that floats next to each other */
.column {
    display: block;
    float: left;
    width: 50%;
    padding: 20px; 
    height: auto;
  }
  .column img {
    width: 100%;
  }
  .row {
    border: 5px solid green;
    border-radius: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 10px 0px;
  }
  .column p {
    font-size: 2vw;
    line-height: 1.2;
  }
  .column h2 {
    font-size: 3vw;
    color: #ca1013;
  }
  
  .news {
    background-color: #ca1013;
    color: white;
    margin: 50px 0;
    padding: 50px 700px;
  }
  .text-news {
    border: 5px solid #ca1013;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
  }
  .column-news h3 {
    color: #ca1013;
    font-size: 1vw;
    justify-content: center;
    display: flex;
    text-decoration: underline;
  }
  .column-news p{
    font-size: 1vw;
  }
  .column-news {
    font-style: italic;
    padding: 10px;
  }
  
  
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  
  
/* Footer section */
footer {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0;
    padding: 0;
}
footer .row-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer h3 {
    font-size: 11px;
    font-weight: lighter;
}
footer h2 {
    font-size: 13px;
}
footer .row-footer ul {
    display: block;
    position: relative;
    color: white;
}
footer img {
    width: 110px;
}
